services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8001:8000"
    env_file: ./backend/.env
    environment:
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:8001
    ports:
      - "5173:5173"
    depends_on:
      - backend
